

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.form-control::placeholder {
  color: white;
  opacity: 1; /* Override browser default */
}
.form-control {
  background-color: #8669ae;
  border: 1px solid #8669ae;
}
.accordion-button {
  background-color: #8669ae;
}
.accordion-item {
  background-color: #8669ae;
  color: white;
}
.accordion-button:not(.collapsed) {
  background-color: #8669ae;
  color: white;
}

footer h5 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #fff;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #e9814c;
}

.payment-icons img {
  width: 60px;
  margin: 10px;
  transition: transform 0.3s;
}

.payment-icons img:hover {
  transform: scale(1.1);
}

.payment-icons img {
  width: 50px; /* Adjust size as needed */
  margin: 10px; /* Add spacing between icons */
  border-radius: 5px; /* Rounded corners for a card-like effect */
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.1); /* Subtle shadow for depth */
  background-color: rgba(132, 98, 170, 1);
  border-color: rgba(132, 98, 170, 1);
  padding: 10px; /* Padding inside the card */
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
}

.row {
  margin: 0;
  width: 100%;
}

.col-md-2,
.col-md-6,
.col-md-4 {
  padding: 0;
}

.vertical-slider {
  width: 100%;
}

.slick-slide img {
  width: 100px;
  height: 160px;
}

.main-image-container {
  width: 100%;
  /* text-align: center; */
}

.main-image {
  width: 473px;
  height: 508px;
  cursor: pointer;
}

/* Adjustments for vertical images */
.vertical-slider .slick-slide {
  text-align: center;
}

.vertical-slider .slick-slide img {
  max-width: 100%;
  max-height: 100px; /* Adjust height for vertical images */
  display: inline;
  margin: 0 auto;
}

/* Lightbox styles */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}

.lightbox.active {
  display: flex;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow tabs to wrap on smaller screens */
}

.tab {
  flex: 1 0 45%; /* Flex basis to control width, adjust as needed */
  border: 1px solid #ccc;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.tab:hover {
  border: 1px solid black;
}

.tab.selected {
  border: 1px solid black;
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 10px; /* Padding for inner content */
}

.tab-content input {
  vertical-align: middle;
}

.tab-content label {
  margin-top: 5px;
}

.with-power-state {
  display: none; /* Hidden by default */
  padding: 20px;
  background-color: #e0e0e0;
}

.product-count {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.product-count button {
  cursor: pointer;
  /* background-color: #f0f0f0; */
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .tab {
    flex-basis: 100%; /* Full width on smaller screens */
  }
}
.tab {
  cursor: pointer;
}
.pair-state {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pair-fieldset {
border: 1px solid #000;
padding: 5px;
display: flex;
flex-direction: column;
align-items: center;
width: 50%;
margin: 0 auto; /* This centers the element horizontally */
}

.pair-fieldset-main {
border: 1px solid black;
padding: 5px;
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto; /* This centers the element horizontally */
}

.toggle-btn {
      cursor: pointer;
      margin-left: 10px;
      border: none;
      background: none;
  }
  .tab-content {
      margin-top: 20px;
  }
  .open-content {
      display: none;
  }
  .big-btn {
      font-size: 2rem;
  }
  .adjustment-btns {
      display: none;
      margin-top: 10px;
  }
  .adjustment-btns button {
      margin-right: 5px;
      background: #f0f0f0;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
  }
  .adjustment-btns button:hover {
      background: #ccc;
  }
  .power-value {
      display: none;
      font-size: 1.2rem;
      font-weight: bold;
  }
  .eye-section {
      margin: 0 2.5%;
  }
  .product-count {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .product-count button {
      font-size: 1rem;
      padding: 5px 10px;
  }
  .product-count .quantity {
      margin: 0 10px;
      font-size: 1.2rem;
  }

  input[type="text"],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      width: 100%;
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }
    .add-to-cart-button {
      padding: 10px 20px;
      background-color: black;
      color: white;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    }

    .add-to-cart-button:hover {
      background-color: white;
      color: black;
      border: 1px solid white;
      border: 1px solid black;
    }

     /* Custom Sidebar style */
     .custom-sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      right: 0;
      /* Position the sidebar on the right */
      background-color: white;
      overflow-x: hidden;
      transition: 0.1s;
      padding-top: 60px;
      color: black;
      z-index: 1000;
  }

  /* Custom Sidebar link */
  .custom-sidebar a {
      text-decoration: none;
      font-size: 25px;
      color: black;
      display: block;
      transition: 0.3s;
      top: 20px;
  }

  /* Custom Close button */
  .custom-closebtn {
      position: absolute;
      top: 20px;
      right: 20px;
      /* Position close button on the right */
      font-size: 36px;
      margin-left: 50px;
  }

  /* Custom Accordion styles */
  .custom-accordion {
      margin: 0 15px;
  }

  .custom-accordion-item {
      margin: 5px 0;
  }

  .custom-accordion-header {
      cursor: pointer;
      background-color: #575757;
      color: white;
      padding: 10px;
      border: none;
      text-align: left;
  }

  .custom-accordion-content {
      display: none;
      background-color: #333;
      padding: 10px;
  }

  /* Show sidebar */
  .custom-sidebar.show {
      width: 31.25rem;
  }